.main-content {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#image-container {
    margin-bottom: 20px;
}

.thumbnail-preview {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
}

.btn-update-image,
.btn-delete,
.btn-update {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}


.btn-update-image {
    background-color: #007bff;
}

.btn-update {
    background-color: #28a745;

}

.btn-delete {
    background-color: #dc3545;
}

.btn-update-image:hover {
    background-color: #0056b3;
}

.btn-update:hover {
    background-color: #218838;

}

.btn-delete:hover {
    background-color: #bd2130;
}