<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIRENZO FURNITURE</title>
    <link rel="icon" type="image/png" href="../../../../access/uploads/logo.png">
    <link rel="stylesheet" href="../../../../../access/client/style/home.css">
    <link rel="stylesheet" href="../../../../../access/admin/product/add-product/add-product.css">
    <link rel="stylesheet" href="../../../../../access/admin/global.css">
    <script src="../../../../../access/admin/product/add-product/add-product.js"></script>

    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/base.css"
        rel="stylesheet" type="text/css" media="all">


    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/section-header.css"
        rel="stylesheet" type="text/css" media="all">


    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/section-header-toolbar.css"
        rel="stylesheet" type="text/css" media="all">


</head>


<body data-template="index" data-button-hover-animation="fill_right">

    <header class="header section--padding is-sticky">

        <!--đường dẫn về trang home logo-->
        <div class="header__container_wrapper">
            <div class="page-width header__container header__container--left-line header__full_width ">
                <h1 class="header__heading">
                    <a class="header__heading-link"
                        style=" --header-logo-pc-width: 190px; --header-logo-pc-height: 60px; --header-logo-mobile-width: 145px; --header-logo-mobile-height: 60px; "
                        href="/homeAdmin">
                        <span>DIRENZO FURNITURE</span>
                    </a>
                </h1>

                <div class="header__tools">
                    <predictive-search class="search-modal__content " data-show-suggested-menu="false">
                        <form action="/homeAdmin" method="get" class="search-modal__form search">
                            <div class="search-modal__field field">
                                <input id="Search-In-Modal-1" class="search-modal__input field__input body3"
                                    type="search" name="keyword" value="" placeholder="Enter here and click search"
                                    maxlength="255" autocorrect="off" autocomplete="off" autocapitalize="off"
                                    spellcheck="false" />
                                <label class="search-modal__field-label field__label body4"
                                    for="Search-In-Modal-1">Enter here and click search</label>
                                <button class="icon-button header__icon-button">
                                    <svg class="icon icon-search" width="28" height="28" viewBox="0 0 28 28" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="13" cy="12" r="7.25" stroke="currentColor" stroke-width="1.5" />
                                        <path d="M18.5 17.5L23 22.5" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" />
                                    </svg>

                                </button>
                            </div>
                            <div class="predictive-search" tabindex="-1">
                                <div class="predictive-search__results" data-predictive-search></div>
                                <div class="predictive-search__loading-state">
                                    <span class="predictive-search__spinner">
                                        <svg class="icon icon-loading" width="20" height="20" viewBox="0 0 20 20"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18.3337 9.99984C18.3337 14.6022 14.6027 18.3332 10.0003 18.3332C5.39795 18.3332 1.66699 14.6022 1.66699 9.99984C1.66699 5.39746 5.39795 1.6665 10.0003 1.6665"
                                                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" />
                                        </svg>

                                    </span>
                                </div>
                            </div>
                        </form>
                    </predictive-search>
                </div>

                <div class="header__icons">

                    <!-- login tài khoản -->

                    <a class="icon-button header__icon-button display-none-tablet" href="#">
                        <svg class="icon icon-user" width="28" height="28" viewBox="0 0 28 28" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.25 10C18.25 11.1942 17.7588 12.5346 16.9452 13.573C16.1293 14.6142 15.0759 15.25 14 15.25C12.9241 15.25 11.8707 14.6142 11.0548 13.573C10.2412 12.5346 9.75 11.1942 9.75 10C9.75 7.65279 11.6528 5.75 14 5.75C16.3472 5.75 18.25 7.65279 18.25 10Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path d="M5.75 22.2501V18.5857L12.6688 15.3057H15.3312L22.25 18.5857V22.2501H5.75Z"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!--navbar-->

    </header>
    </header-layout>


    </div>

    <main id="MainContent" class="content-for-layout" tabindex="-1">
        <!-- START content_for_index -->
        <div id="shopline-section-1716824159147474257a" class="shopline-section section index-section--hero">
            <!-- Sidebar -->
            <aside class="sidebar">
                <ul class="sidebar-menu">
                    <li class="sidebar-item ">
                        <a href="/homeAdmin" class="sidebar-link">All Product</a>
                    </li>
                    <li class="sidebar-item sidebar-item-ative">
                        <a href="/postAdmin" class="sidebar-link">Add New</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/getDesc" class="sidebar-link">All Desc</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/postDesc" class="sidebar-link">Add New Desc</a>
                    </li>
                </ul>
            </aside>

            <!-- Main Content -->
            <div id="main-content" class="main-content">
                <!-- Place your main content here -->
                <form id="addProductForm">
                    <label for="name">Product Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price">

                    <label for="material">Material:</label>
                    <input type="text" id="material" name="material">

                    <label for="dimension">Dimension:</label>
                    <input type="text" id="dimension" name="dimension">

                    <label for="desc">Description (Select Desc):</label>
                    <select id="desc" name="desc" required>
                        <option value="">Select a Desc</option>
                    </select>

                    <label for="images">Product Images:</label>
                    <div id="image-container">
                        <!-- Image previews will be displayed here -->
                        <button class="btn-add-img" type="button" id="addImageButton">Add Images</button>
                    </div>

                    <button class="btn-search" type="submit">Add Product</button>
                </form>
            </div>
        </div>
    </main>

</body>

</html>