<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIRENZO FURNITURE</title>
    <link rel="icon" type="image/png" href="../../../../access/uploads/logo.png">
    <link rel="stylesheet" href="../../../../access/client/style/login.css">

    <!-- <script
        src="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/global.js"
        defer="defer"></script> -->





    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/base.css"
        rel="stylesheet" type="text/css" media="all">





    <!-- <script type="application/javascript" defer
        src="https://cdn.myshopline.com/t/layout/plugin/2024032008165858/reference-sdk.umd.min.js"></script> -->





    <link rel="alternate" hreflang="en-VN" href="https://direnzofurniture.myshopline.com/password" />

    <link rel="alternate" hreflang="x-default" href="https://direnzofurniture.myshopline.com/password" />





    <!-- <script type="text/javascript"
        src="https://cdn-theme.myshopline.com/cdn/shop/prod/app-extension/01405986-ae6f-4fcc-adaa-2a21f14efc9f/1723034926498/assets/vendor/global.min.js"
        defer="defer" org="AP_01405986-ae6f-4fcc-adaa-2a21f14efc9f"></script>
    <script type="text/javascript"
        src="https://cdn-theme.myshopline.com/cdn/shop/prod/app-extension/01405986-ae6f-4fcc-adaa-2a21f14efc9f/1723034926498/assets/back-to-top/index.min.js"
        defer="defer" org="AP_01405986-ae6f-4fcc-adaa-2a21f14efc9f"></script> -->
    <link rel="stylesheet"
        href="https://cdn-theme.myshopline.com/cdn/shop/prod/app-extension/01405986-ae6f-4fcc-adaa-2a21f14efc9f/1723034926498/assets/vendor/global.min.css">
    <link rel="stylesheet"
        href="https://cdn-theme.myshopline.com/cdn/shop/prod/app-extension/01405986-ae6f-4fcc-adaa-2a21f14efc9f/1723034926498/assets/back-to-top/index.min.css">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">






    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/section-main-password-header.css"
        rel="stylesheet" type="text/css" media="all">
    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/snippet-tips-card.css"
        rel="stylesheet" type="text/css" media="all">
    <!-- <script
        src="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/section-main-password.js"
        defer></script> -->






    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/section-main-password.css"
        rel="stylesheet" type="text/css" media="all">
    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/snippet-tips-card.css"
        rel="stylesheet" type="text/css" media="all">






    <!-- <script defer
        src="https://cdn.myshopline.com/t/layout/plugin/2024081609345555/discount-style-plugin/entry.js"></script>





    <script src="https://cdn.myshopline.com/sl/sdk/hdsdk-1.6.40.modern.min.js"></script> -->






    <link
        href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/section-main-password-footer.css"
        rel="stylesheet" type="text/css" media="all">







</head>


<body class="main-password" data-button-hover-animation="fill_right">
    <div id="shopline-section-main-password-header" class="shopline-section">
        <div class="password-header">
            <h1 class="title5" style="
    --header-logo-pc-width: 190px;
    --header-logo-pc-height: 60px;
    --header-logo-mobile-width: 145px;
    --header-logo-mobile-heigth: 60px;
    " href="/">
                <span>DIRENZO FURNITURE</span>
            </h1>
            <password-modal>
                <details class="password-modal modal">
                    <summary class="modal__toggle">
                        <div class="modal__toggle-open link body4">
                            <svg class="icon icon-lock" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="2.57129" y="8.42871" width="18.8571" height="13.7143" rx="0.857143"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M18 8.42871C18 5.115 15.3137 2.42871 12 2.42871C8.68629 2.42871 6 5.115 6 8.42871"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <circle cx="12.0004" cy="13.5715" r="1.71429" fill="currentColor" />
                                <path d="M12 13.5713V16.9999" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" />
                            </svg>

                            Login with password
                        </div>
                    </summary>
                    <div class="modal__content">
                        <button name="close" class="modal__close-button">
                            <svg class="icon icon-close" width="10" height="10" viewBox="0 0 10 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 1L1 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M1 1L9 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            </svg>

                        </button>
                        <div class="password-modal__content">
                            <h2 class="password-modal__content-heading title5">
                                DIRENZO FURNITURE
                            </h2>
                            <div class="password-modal__content-tip body3">
                                Login with password
                            </div>

                            <form method="post" action="/home" id="login_form" class="password-form"
                                accept-charset="UTF-8">
                                <input type="hidden" name="form_type" value="storefront_password" />
                                <input type="hidden" name="returnTo" value="/">
                                <div class="password-field field">
                                    <input type="password" name="password" id="Password" class="field__input"
                                        autocomplete="current-password" placeholder="Password" />
                                    <label class="field__label" for="Password">
                                        Password
                                    </label>
                                </div>
                                <button name="commit" class="password-button button button--full-width">
                                    Enter the store
                                </button>

                            </form>

                            <div class="footer__tip body3">
                                Are you the store owner?

                                <a class="footer__jump link" href="https://direnzofurniture.myshopline.com/admin"
                                    target="_blank" class="password-to-login">
                                    Login here
                                </a>
                            </div>
                        </div>
                    </div>
                </details>
            </password-modal>
        </div>

    </div>

    <main id="MainContent" class="content-for-layout password-section" tabindex="-1">
        <!-- START content_for_index -->
        <div id="shopline-section-main" class="shopline-section">
            <div class="password-body">
                <div id="Password-main" class="password
      password--content-align-center
      password--content-align-mobile-center
      password--medium
      
       password--mobile-bottom
      
       password__box--no-image
      ">

                    <div class="password__media media">
                        <img src="https://img-preview.myshopline.com/image/shopline/a793f047cd3d4ff1b6c1f2de5fa57d8b.png"
                            alt="background_img" />
                    </div>
                    <div class="password__content password__content--middle-center page-width">
                        <div class="global-card-border-shadow password__wrapper
          color-scheme-none
          content-container--full-width-mobile">
                            <h2 class="password__heading title3">
                                Login with password
                            </h2>
                            <div class="newsletter__subheading rte ">
                                <p><span style="font-size: 22px;"><span
                                            style="color: #e03e2d; font-size: 33px;"><strong>&nbsp;password：ftwg</strong></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <div id="shopline-section-main-password-footer" class="shopline-section">
        <link
            href="https://cdn-theme.myshopline.com/cdn/shop/prev/601560b94fbb188919dd1d36c8ab70a4/1724757442019/assets/section-main-password-footer.css"
            rel="stylesheet" type="text/css" media="all">
        <hr class="password__footer__hr" />
        <div class="password__footer">
            <div class="footer__tip body3">
                Are you the store owner?

                <a class="footer__jump link" href="https://direnzofurniture.myshopline.com/admin" target="_blank"
                    class="password-to-login">
                    Login here
                </a>
            </div>
        </div>

    </div>

    <div id="shopline-block-1717434073651654970e" class="shopline-block advc-embed-block advc">
        <div id="advc-backTop" class="advc-back-to-top" data-section-type="advc-back-to-top">
            <div class="advc-back-to-top--icon">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="27.2" y="44.9136" width="19.2" height="1.6" transform="rotate(-45 27.2 44.9136)"
                        fill="#000000" />
                    <rect x="40.7766" y="31.3372" width="19.2" height="1.6" transform="rotate(45 40.7766 31.3372)"
                        fill="#000000" />
                    <rect x="27.2" y="25.6" width="25.6" height="1.6" fill="#000000" />
                    <rect x="41.6" y="32.8" width="25.6" height="1.6" transform="rotate(90 41.6 32.8)" fill="#000000" />
                </svg>

            </div>
        </div>

    </div>

    <script src="../js/login.js"></script>
</body>

</html>